html, body {font-size: 16px;}
.bt_wrap{padding:1rem; text-align: center;}
#box_wrap{width:90%; margin:auto;}
#box_wrap > div {width: 50px; height: 50px; float: left; background-color: aqua;
border:1px solid #00f;}
#box_wrap > div:hover{transition-duration: 1s; opacity: 0;}